PORT=8010
ARC_TODO_API_BASE_URL=http://lmsx2avrg1k29ex12w6e3gce.72.60.59.203.sslip.io
ARC_TODO_USERNAME=admin
ARC_TODO_PASSWORD=change-me
# ARC_TODO_ACCESS_TOKEN=
CORS_ORIGINS=http://ifo33mi1s8efs8myb5g441vh.72.60.59.203.sslip.io
CHATBOT_SETTINGS_CACHE_SECONDS=60
